<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.tentacles.iris">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo_main"
        android:theme="@style/AppTheme">

        <!--Регистрация главной активности в манифесте.
        На все активности выставлен запрет на поворот экрана-->
        <activity android:name=".MainSalonActivity"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

        <!--Регистрируем активности блока "Волосы" в манифесте-->
        <activity android:name=".HairSalonActivity"
            android:screenOrientation="portrait"/>

        <!--Регистрируем активности блока "Ногти" в манифесте-->
        <activity android:name=".NailSalonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.nail_fragments.PedicureCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.nail_fragments.ShellacCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.nail_fragments.ExtentionCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.nail_fragments.ManicureCostFragment"
            android:screenOrientation="portrait"/>

        <!--Регистрируем "пустую активность в манифесте,
        появляется, если салоны по какой-либо услуге не найдены-->
        <activity android:name=".fragments.NullCostActivity"
            android:screenOrientation="portrait"/>

        <!--Регистрируем активности блока "Глаза" в манифесте-->
        <activity android:name=".EyeSalonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.EyebrowCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.MakeupCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.EyeColorCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.EyelashCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.EyeCurlingCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.MascaraCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.EyeTattooCostFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.eye_fragment.MakeupPermCostFragment"
            android:screenOrientation="portrait"/>

        <!--Регистрируем активности блока "Лицо и тело" в манифесте-->
        <activity android:name=".BodyFaceSalonActivity"
            android:screenOrientation="portrait"/>

        <!--Регистрируем активности блока "Эпиляция" в манифесте-->
        <activity android:name=".EpilationSalonActivity"
            android:screenOrientation="portrait"/>

        <!--Регистрируем активности блока "Мужское" в манифесте-->
        <activity android:name=".MenSalonActivity"
            android:screenOrientation="portrait"/>

    </application>

    <!--Разрешения для приложения-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.CALL_PHONE" />

</manifest>
